header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.modo{

}
.ajustes{

}
img .fondo{
 
}
article{
 background-color: rgb(46, 44, 44);
 color: rgb(17, 250, 5);
 margin: 2em;
 font-size: 1em;
 font-family: 'Silkscreen', cursive;
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}